################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Project/Web/Models
/.vs/BookStore
/build
