@{
  ViewData["Title"] = "Home Page";
}

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"> <H1 class="align-bottom" style="text-decoration-color" > BookStore </H1></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <li>@Html.ActionLink("Books", "Index", "Books", new { area = "" }, null)</li>
        </button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <li>@Html.ActionLink("Authors", "Index", "Authors", new { area = "" }, null)</li>
        </button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <li>@Html.ActionLink("Clients", "Index", "Clients", new { area = "" }, null)</li>
        </button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <li>@Html.ActionLink("History", "Index", "CheckoutHistories", new { area = "" }, null)</li>
        </button>
      </ul>
    </div>
  </div>
</div>
